body {
  margin: 0px;
  background-color: #282930; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/m-h-night.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 30em/15em 0px; }

.header-wrap {
  width: 100%;
  max-width: 1080px;
  padding: 20px; }

.landing-logo {
  display: flex; }
  .landing-logo img {
    margin-right: 20px; }
  .landing-logo p {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Fresca", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    align-items: center;
    color: white; }
    .landing-logo p span {
      font-weight: 400;
      font-size: 13px; }

.header_heading {
  max-width: 500px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 60px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 70px;
  font-weight: 800;
  color: white;
  line-height: 1; }
  .header_heading:after {
    content: "";
    display: block;
    width: 293px;
    height: 20px;
    background-color: #ff4e33;
    position: absolute;
    bottom: 3px;
    z-index: -1; }

.header_text {
  font-family: "Fresca", sans-serif;
  color: white;
  white-space: pre-line;
  line-height: 1.5;
  margin-bottom: 55px; }

.header_button, .section_banner_button {
  background-color: #e3ac00;
  height: 48px;
  width: 145px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif; }
  .header_button:hover, .section_banner_button:hover {
    cursor: pointer; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: url(../img/m-h-night.jpg);
  position: relative; }

.section_card_wrap {
  width: 100%;
  max-width: 1080px;
  padding: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0px;
  margin-bottom: 150px; }

.section_card {
  width: 320px;
  height: 380px;
  display: flex;
  flex-direction: column;
  background-color: #3b3f50;
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px; }
  .section_card:last-child {
    margin-right: 0px; }

.section_card_img {
  min-height: 200px;
  max-height: 200px;
  border-radius: 5px; }

.section_text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  position: relative;
  z-index: 1; }
  .section_text:before {
    content: "";
    position: absolute;
    width: 170px;
    height: 10px;
    background-color: #ff4e33;
    bottom: 8px;
    right: 13px;
    z-index: -1; }

.section_card_heading {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto; }
  .section_card_heading:after {
    content: "";
    display: block;
    width: 100%;
    height: 9px;
    background-color: #ff4e33;
    position: absolute;
    bottom: 0px;
    z-index: -1; }

.section_card_text {
  font-family: "Fresca", sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  height: 110px;
  display: flex;
  align-items: center;
  margin: 0px; }

.section_banner {
  width: 840px;
  background: linear-gradient(45deg, #edb309, #87304e);
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  left: 420px;
  bottom: -60px;
  display: flex;
  justify-content: space-around;
  height: 120px;
  align-items: center; }

.section_banner_heading {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 1;
  position: relative; }
  .section_banner_heading:after {
    content: "";
    display: block;
    width: 54px;
    height: 9px;
    left: 97px;
    background-color: #ff4e33;
    position: absolute;
    bottom: 5px;
    z-index: -1; }

.section_banner_text {
  color: #d1d1d1;
  font-family: "Fresca", sans-serif; }

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #3b3f50;
  z-index: 1;
  position: relative; }

.footer-wrap {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 75px; }

.footer_logo {
  width: max-content;
  height: max-content; }
  .footer_logo p {
    font-family: "Fresca", sans-serif;
    color: #d1d1d1; }
    .footer_logo p span {
      font-weight: 600; }

.footer_text {
  max-width: 265px;
  height: max-content;
  font-family: "Fresca", sans-serif;
  color: #d1d1d1;
  font-size: 12px;
  line-height: 1.5; }

.footer-cr {
  height: max-content;
  font-family: "Fresca", sans-serif;
  color: #C0C3CE;
  font-size: 14px; }
