$headerBackgImage: url(../img/m-h-night.jpg);
$backgColor: rgb(40, 41, 48);
$mainFont: 'Source Sans Pro', sans-serif;
$footerFont: 'Fresca', sans-serif;
$headerTextColor: white;
$footerColor: rgb(59, 63, 80);
$gradient: linear-gradient(45deg, rgb(237, 179, 9), rgb(135, 48, 78));
$buttonColor: rgb(227, 172, 0);
$underScoreColor: rgb(255, 78, 51);
$sectionTextColor: rgb(209, 209, 209);
