$headerBackgImage: url(../img/m-h-day.jpg);
$backgColor: white;
$mainFont: 'Source Sans Pro', sans-serif;
$footerFont: 'Hind', sans-serif;
$headerTextColor: rgb(54, 56, 66);
$footerColor: rgb(54, 56, 66);
$gradient: linear-gradient(45deg, rgb(142, 206, 14), rgb(31, 88, 242));
$buttonColor: rgb(105, 153, 0);
$underScoreColor: rgb(20, 160, 199);
$sectionTextColor: rgb(192, 195, 206);
